<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d2021">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="hcontainer">
        <div id="titlestuff">
            <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
        <div id="pages">
            <a href="/" class="btn">Home</a>
            <a href="gallery" class="btn">Gallery</a>
            <a href="https://www.patreon.com/VoidGraphics" class="btn" target="_blank" rel="noopener noreferrer">Patreon</a>
        </div>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <div class="split">
      <div class="splitcaption">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit laoreet id donec ultrices. Ac felis donec et odio.</p>
      </div>
      <div class="splitimage">
        <img src="/assets/images/ironPOM.png" />
      </div>
    </div>

    <footer>
      <div id="footertable">
        <div id="contact">
          <h2>Contact</h2>
          <a id="email" href="mailto:voidcraft.graphics@gmail.com">voidcraft.graphics@gmail.com</a>
          <a id="slabs" href="https://discord.gg/CPc2xNfvdb">Shaderlabs Discord</a>
          <a id="discord" href="https://discord.gg/Y3p8NHUrte">VoidCraft Discord</a>
        </div>
        <div id="centerfoot">
          all rights reserved, slinkous
          <br><br>
          >_
        </div>
        <div id="rightfoot">
          <a href="https://bit.ly/3uTw3UC">Free 2048x pack</a>
        </div>
      </div>
    </footer>



    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
